{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Registro de bajas de estudiantes
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <a class="btn btn-primary" href="{% url 'baja_alumnos' %}" role="button">+ Nueva baja</a> <br/>&nbsp;

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Bajas de estudiantes</h3>
                        </div>
                        <!-- /.card-header -->

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Semestre</th>
                                        <th>Nombre de alumno</th>
                                        <th>Programa</th>
                                        <th>Matricula</th>
                                        <th>Fecha de baja</th>
                                        <th>Motivos de abandono</th>
                                        <th>Motivo de baja</th>
                                        <th>Tipo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for baja in bajas %}
                                        <tr>
                                            <td>{{ baja.semestre }}</td>
                                            <td>{{ baja.nombre_alumno }}</td>
                                            <td>{{ baja.programa_academico }}</td>
                                            <td>{{ baja.matricula }}</td>
                                            <td>{{ baja.fecha_baja }}</td>
                                            <td>{{ baja.motivos_abandono }}</td>
                                            <td>{{baja.get_tipo_baja_display }}</td>
                                            <td>{{ baja.get_t_d_display }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>



  {% endblock main_content %}

  {% comment %} Custom JS to Identify the Reply and Post Reply {% endcomment %}

  {% block custom_js %}

  {% endblock custom_js %}